settings.json
config.py
py/
UHI_Agis.py
# Exclude large data files
data/lagos/
data/cairo/
*.TIF
*.tif
Camden UHI science hub Data.xlsx
Louisville_Metro_KY_-_Urban_Heat_Island_Neighborhood_Data.csv
sdei-global-uhi-2013-shp.zip
sdei-global-uhi-2013-xlsx.zip
zip_UHII.csv
sample.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
